body {
    font-family: Arial, sans-serif;
    background-image: url("Database/overhead-wooden-planks-background-with-copy-space.jpg");
    height: 100%;
    margin: auto;
    max-width: 720px;
}

h1{
    margin:5%;
    text-align: center;
    font-size: 45px;
    font-family: "Comic Sans MS";
}

#switch-view{
    display:none;
    position:fixed;
    left: 0px;
}

.switch-button{
    display:block;
    width: 120px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-left: none;
    border-bottom: none;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;

}

#menu_view{
    border-top-right-radius: 5px;
}

#past-order_view{
    border-bottom: 3px solid #ccc;
    border-bottom-right-radius: 5px;
}

#language-button-container{
    margin-left: 5%;
    margin-right: 5%;
}

#language-button-wrapper{
    display: flex;
    margin-left: 50%;
}

.language-button{
    width: 25%;
    background-color: #fff;
    border: 3px solid #ccc;
    border-left: none;
    border-bottom: none;
    color: black;
    padding: 5px 5px;
    cursor: pointer;
    font-size: 12px;
}

.language-button:hover{
    background-color: #ccc;
}

#swedish-button{
    border-top-left-radius: 5px;
    border-left: 3px solid #ccc;
}
#german-button{
    border-top-right-radius: 5px;
}

form {
    /*STYLE FROM CHAT GPT*/
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

button {
    background-color: #4CAF50;
}
button:hover{
    background-color: #3e8e41;
}

#not-logged-in-wrapper{
    display: flex;
    justify-content: space-between;
}

#guest-mode-text{
    font-weight: bold;
}


/* LOGIN POPUP */
#login-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#login_buttons{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

input[type="text"], input[type="password"] {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

#login-button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login_as_guest {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-message {
    margin-top: 5%;
    padding: 10px;
    background-color: #f2dede;
    color: #a94442;
    border: 3px solid #a94442;
    border-radius: 10px;
    display: none;
}

#show-login-popup-button{
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#user-box-wrapper{
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 20px;
    text-align: center;
    line-height: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

#user-info {
    display: none;

}

#user-info-wrapper{
    display: flex;
    justify-content: space-between;
}

#user-info-text-wrapper{
    text-align: left;
}


#user-info-button-wrapper{
    width: 20%;
}

#name {
    font-size: 18px;
}

.credit {
    font-size: 18px;
    margin-top:10%;
}

#status {
    font-size: 18px;


}

#deposit-button {
    margin-bottom: 5%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#deposit-button:hover {
    background-color: #3e8e41;
}

#logout-button {
    display: block;
    background-color: #cc504a;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#logout-button:hover {
    background-color: #a94442;
}

/* DEPOSIT POPUP */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#popup form {
    display: flex;
    align-items: center;
}

#popup label {
    font-size: 18px;
    margin-bottom: 10px;
}

#popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#popup button[type="submit"] {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;

}





/* Menu styles */
#menu {

    /*display: none;*/
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

#menu-categories{
    display: flex;
    justify-content: space-between;
    border: 3px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f2f2f2;

}

.menu-category{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    background-color: #f2f2f2;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    font-size: 30px;
    cursor: pointer;
}

#beer-category{
    border-top-left-radius: 10px;
}
#other-category{
    border-top-right-radius: 10px;
}

.menu-item-wrapper{
    background-color: #f2f2f2;
    overflow-y: auto;
    /*height: 330px;*/
    height: 100%;
    border: 3px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.menu-item {
    padding: 2%;
    border-bottom: 2px solid #ccc;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.menu-item:hover{
    background-color: lightgray;
    cursor: grab;
}

.item-name {
    font-weight: bold;
}

.item-info{
    text-align: left;
}

.item-price {
    font-size: 0.8em;
    margin-bottom: 5px;
}
.item-availability {
    padding-left: 20px;
}

.info-button{
    cursor: pointer;
}
.item-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    width: 20%;
}
.item-button:hover{
    background-color: #3e8e41;
}

/* INFO POPUP */
#info-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#info-popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* Order styles */
#order {
    display: none;
    margin: 5%;

}
#order-item-wrapper{
    border: 3px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    background-color: #f2f2f2;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-button{
    font-size: 12px;
    cursor: pointer;
}

.item-qty {
    font-size: 0.8em;
    padding: 3px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

#order-total-wrapper {
    background-color: #f2f2f2;
    border-bottom: 3px solid #ccc;
    border-left: 3px solid #ccc;
    border-right: 3px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

#order-total{
}

#order-button{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 20%;

}
#order-button:hover{
    background-color: #3e8e41;
}

.comment{
    font-size: 14px;
    margin-left: 2%;
    display: none;
}

/* COMMENT POPUP */
#comment-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#comment-popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

#comment-popup label {
    font-size: 18px;
    margin-bottom: 10px;
}

#comment-popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#comment-submit{
    background-color: #4CAF50;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

#comment-submit:hover {
    background-color: #3e8e41;
}