
body {
    background-image: url("Media/lionello-delpiccolo-qEswHvOmi1c-unsplash.jpg");
}

.foreground{
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 25px;
    background-image: url("Media/aditya-joshi-wG923J9naFQ-unsplash.jpg");

    background-size: contain;
}

.select-category{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}